* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}
.allign{
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

#nav,li {
  font-size: 18px;
}


.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.removebullets li {
  list-style: none;
  padding: 8px;
  margin: 0px;
}

.white {
  color: white;
}
.image {
  background-image: url("../photos/the-flatiron-building.png");
}

.dimgrey {
  background-color: dimgrey;
}

.inline li{
  display: inline;
}
